*.*
**/
!README.md

!sound/misc/bonus.wav
!sound/misc/comeagain.wav

!models/banniere.mdl
!models/barre.mdl
!models/bonus.mdl
!models/bonusMort.mdl
!models/otage1.mdl
!models/otage2.mdl
!models/palmtree2.mdl

!maps/awp_map.bsp

!gfx/env/backalleybk.tga
!gfx/env/backalleydn.tga
!gfx/env/backalleyft.tga
!gfx/env/backalleylf.tga
!gfx/env/backalleyrt.tga
!gfx/env/backalleyup.tga

!addons/amx/config/maps/awp_map.cfg
!addons/amx/examples/awp_map_extra.sma
!addons/amx/lang/awp_map_extra.txt
